@charset "utf-8";
/*------------------------------------------------------*/
/* BASIC SETUP */
/*------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff; 
    color: #555;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x:hidden; 
}

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*------------------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}

.box{
    padding: 3%;
}
/* -------- HEADINGS --------- */

h1,
h2,
h3 {
    font-weight: 200;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;   
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 4px;
}

h2{
    font-size: 170%;
    word-spacing: 2px;
    text-align: right;
    margin-bottom: 60px;
    letter-spacing: 1px;
    padding-top: 10px;
    margin-right: 565px;
}

h3{
    font-size: 100%;
    margin-bottom: 10%;
    text-align: center;
}

h2:after{
    display: block;
    height: 3px;
    width: 110px;
    background-color: #c0392b;
    content: " ";
    width: 100px;
    margin: 0;
    margin-top: 20px;
    float: center;
    margin-left: 450px;
}

/* -------- PARAGRAPHS --------- */

.long-copy{
    line-height: 28px;
    width: 50%;
    margin-left: 5%;
    text-align: right;
}

.box p{
    font-size: 70%;
    line-height: 145%;
    text-align: justify;
}

/* -------- ICONS --------- */

.icon-big{
    font-size: 350%;
    display: block;
    color: #c0392b;
    margin-bottom: 10px;
    text-align: center;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #c0392b;
    font-size: 120%;
    margin-right: 10px;
    /*secrets to aling text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* -------- LINKS --------- */

a:link,
a:visited{
    color: #c0392b;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #c0392b;
    -webkit-transition: border-bottom 0.2s, color 0.2;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s; 
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}


/*------------------------------------------------------*/
/* HEADER */
/*------------------------------------------------------*/
/*
header{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))), url();
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/fundo_01.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
*/

#features {
    padding: 0;
}
#features > .row {
    max-width: 100%;
}
#features video {
    display: block;
    width: 100%;
    height: auto;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin: 10px;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}

.nav {
    /*background-color: rgba(255, 255, 255, 0.98);
    */width: 100%;
    height: 120px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;   
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 16px 0;
    color: #fff;
    text-decoration: none; 
    text-transform: uppercase; 
    font-size: 90%; 
    border-bottom: 2px solid  transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #c0392b;
}

/* Mobile navi */

.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
}

/* Sticky navi */

.sticky{
    background-color: rgba(255, 255, 255, 0.98);
    height: 60px;
    box-shadow: 0 2px 2px #efefef;
}
.sticky .main-nav{ margin-top: 18px;}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: #555;
}
.sticky .logo {
    height: 40px;
}

/*------------------------------------------------------*/
/* FEATURES */
/*------------------------------------------------------*/

.section-features .long-copy{
    margin-bottom: 100px;
}

/*------------------------------------------------------*/
/* CARTAZES */
/*------------------------------------------------------*/

.section-cartaz{
    padding-top: 650px;
}

.cartaz-showcase{
    list-style: none;
    width: 100%;
}

.cartaz-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.cartaz-photo{
    widows: 100%;
    margin: 0%;
    overflow: hidden;
    background-color: #000;
}

.cartaz-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.cartaz-photo img:hover{
    transform: scale(1.03);
    opacity: 5;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
} 

/*------------------------------------------------------*/
/* HOW IT  WORKS */
/*------------------------------------------------------*/

.section-criativo{
    background-color: #f4f4f4;
}

.criativo-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.criativo-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
}

.works-criativo{
    margin-bottom: 50px;
}

.works-criativo:last-of-type{
    margin-bottom: 80px;
}

.works-criativo div{
    color: #c0392b;
    border: 2px solid #c0392b;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

/*------------------------------------------------------*/
/* CITIES */
/*------------------------------------------------------*/

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.characters{
    margin-bottom: 5px;
}

/*------------------------------------------------------*/
/* TESTIMONIALS */
/*------------------------------------------------------*/

.section-testimonials{
    background-image:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/back-customers.jpg);
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

guerreiras{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

guerreiras img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*------------------------------------------------------*/
/* SIGN UP */
/*------------------------------------------------------*/

.section-plans{
    background-color: #f4f4f4;

}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-pack: 0 2px 2px #efefef;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #c0392b;
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal{
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{ 
    padding: 5px 0;
} 

.icon-small-sign{
    width: 30px;
    text-align: center;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*------------------------------------------------------*/
/* FORM */
/*------------------------------------------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px, solid #ccc;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
        outline: none;
}

/*------------------------------------------------------*/
/* FOOTER */
/*------------------------------------------------------*/

footer{
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-twitter:hover{
    color: #00aced;
}

.ion-social-googleplus:hover{
    color: #c0392b;
}

.ion-social-instagram:hover{
    color: #517fa4;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/*------------------------------------------------------*/
/* Animations */
/*------------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3
{
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.js--wp-4{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;

}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}

div.background-um {
    line-height:0;
    width:0;
    height:0;
    border-style: solid;
    border-color: #fff #c0392b #fff #fff;
    border-width: 0 960px 200px 50px;
    margin-left: 260px;
    }  
    
    div.background-dois {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 1350px;
        -webkit-transform: skewY(-12deg);
        transform: skewY(-12deg);
        background: #070000;   
        color: #fff;
    }

    #developers-first ::before {
        position: relative;
        padding-top: auto;
    }
   
    .processo{
        padding-top: 10px;
    }